@use '@/style/variables.scss' as *;

:local {
  .time-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-white;
    font-size: 24px;
    padding: 30px 20px;
  }

  .fade-enter {
    transform: translate(100%, 0);
    opacity: 0;
  }

  .fade-enter-active {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 500ms;
  }

  .fade-exit {
    transform: translate(0, 0);
    opacity: 1;
  }

  .fade-exit-active {
    transform: translate(-100%, 0);
    opacity: 0;
    transition: all 500ms;
  }
}
