@use '@/style/variables.scss' as *;

:local {
  .list-item {
    padding-left: 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .arrow-right {
    width: 6px;
    height: 14px;
  }

  .arrow-down {
    transform: rotate(90deg);
  }

  .arrow-up {
    transform: rotate(-90deg);
  }

  .title {
    font-size: $font-size-normal;
    color: $color-dark-shallow;
  }

  .selected {
    font-size: $font-size-sm;
    color: $color-gray;
    margin-right: 8px;
  }
}
