@use '~@/style/variables.scss' as *;

:local {
  .wrapper {
    padding: 56px 16px;

    .other-operation {
      margin-top: 33px;
      color: $color-primary;
      font-size: $font-size-mid;
      font-weight: 600;
      text-align: center;

      .sign-up {
        margin-top: 38px;
        color: $color-gray;
        font-size: $font-size-normal;
        font-weight: 500;

        span {
          color: $color-primary;
        }
      }
    }

    :global {
      .adm-list-body {
        overflow: unset;
        border: none;
      }

      .adm-form-item {
        --adm-color-border: #{$color-gray-shallow};

        & + .adm-form-item {
          margin-top: 24px;
        }

        .adm-list-item-content {
          padding: 0 16px;
          border: 1px solid $color-gray-shallow;
          border-radius: 16px;
        }
      }

      .adm-button-primary {
        border-radius: 16px;
      }
    }
  }
}
