@use '@/style/variables.scss' as *;

:local {
  .account-edit-container {
    height: 100vh;
    background-color: $color-primary;
  }

  .edit-content-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;

    .balance-card {
      padding-left: 16px;

      & > span {
        font-weight: 600;
        font-size: 18px;
        color: #fcfcfc;
        opacity: 0.64;
      }

      & > p {
        font-weight: 600;
        font-size: 64px;
        color: #fcfcfc;
      }
    }

    .content {
      padding: 24px 16px;
      background-color: $color-white;
      border-radius: 32px 32px 0 0;

      :global {
        .adm-input {
          margin-bottom: 16px;
          height: 56px;
          border: 1px solid #f1f1fa;
          border-radius: 16px;
        }

        .adm-input-element {
          padding-left: 16px;
        }
      }

      .btn {
        :global {
          .adm-button {
            width: 100%;
            height: 56px;
            color: $color-white;
            background-color: $color-primary;
            border-radius: 16px;
          }
        }
      }
    }
  }
}
