:local {
  .add-active {
    width: 100%;
    position: absolute;
    bottom: 75px;
    top: 0;
    left: 0;
    text-align: center;
    background: linear-gradient(
      180deg,
      rgb(139 80 255 / 10%) 0%,
      rgb(139 80 255 / 24%) 100%
    );

    > div {
      position: absolute;
      bottom: 25px;
      width: 100%;

      > div {
        display: flex;
        justify-content: space-evenly;
        padding-top: 11px;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fcfcfc;

    .add-icon {
      margin-bottom: 27px;
      padding: 7px;
    }

    .add-icon-active {
      margin-bottom: 27px;
      padding: 7px;
      transform-origin: center;
      transform: rotate(45deg);
      border-radius: 50%;
      background: rgb(139 80 255 / 24%);
    }

    :global {
      .adm-tab-bar-item {
        padding-top: 0;
      }

      .adm-tab-bar-item-active {
        svg path {
          fill: #7f3dff;
        }
      }

      .adm-tab-bar-wrap {
        overflow: visible;

        .adm-tab-bar-item-icon {
          height: 68px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
