@use '@/style/variables.scss' as *;

:local {
  @mixin base {
    position: relative;
    border: 1px solid #f1f1fa;
    border-radius: 40px;
    margin-bottom: 16px;
  }

  @mixin padding {
    padding-left: 16px;
    padding-right: 16px;
  }

  .small {
    @include base;

    padding: 0 10px;
    width: fit-content;
    height: 40px;
  }

  .middle {
    @include base;
    @include padding;

    min-width: 76px;
    height: 50px;
    margin-bottom: 0;
  }

  .large {
    @include base;
    @include padding;

    min-width: 311px;
    height: 56px;
  }

  @mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header {
    @include flex-row;

    height: 100%;
    border-radius: 40px;
    justify-content: space-between;
  }

  .arrow {
    width: 18px;
    margin-right: 8px;
  }

  .arrow-rotate {
    transform: rotate(180deg);
  }

  .left {
    justify-content: flex-end;
    flex-direction: row-reverse;
  }

  @mixin font {
    font-size: $font-size-sm;
    color: $color-dark;
  }

  .title {
    @include font;

    font-weight: 600;
  }

  .cate-type-box {
    @include flex-row;

    padding: 8px 10px;
    background: #fcfcfc;
    border: 1px solid #f1f1fa;
    border-radius: 32px;

    .cate-type-icon {
      width: 14px;
      height: 14px;
      border-radius: 7px;
      background-color: $color-green;
      margin-right: 7px;
    }

    .cat-type-title {
      font-size: $font-size-sm;
      color: $color-dark-shallow;
    }
  }

  .content {
    position: absolute;
    left: 0;
    top: 56px;
    width: 100%;
    min-width: 100px;
    z-index: 1;
    border: 1px solid #f1f1fa;
    border-radius: 5px;
    background-color: #fff;
    margin: 0;
    max-height: 200px;
    overflow-y: scroll;
  }

  @mixin options {
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid $color-gray-light;
    @include font;
  }

  .item {
    @include options;

    &:hover {
      background-color: $color-light-primary;
    }
  }

  .selected {
    @include options;

    background-color: $color-light-primary;
  }

  .disabled {
    font-size: $font-size-sm;
    color: $color-gray;
    font-weight: 600;
  }
}
