@import 'variables';

:global {
  // Button
  button.adm-button {
    --background-color: #{$color-light-primary};
    --text-color: #{$color-primary};

    &.adm-button-primary {
      --color: #{$color-primary};
    }
  }

  // CheckBox
  .adm-checkbox {
    --adm-color-primary: #{$color-primary};
    --icon-size: 24px;

    div.adm-checkbox-icon {
      border-radius: 5px;
    }
  }

  // Passcode
  div.adm-passcode-input {
    --adm-color-primary: #{$color-primary};

    &:not(.seperated),
    &:not(.seperated).focused {
      border: none;
      box-shadow: none;

      div.adm-passcode-input-cell {
        &:empty::after {
          content: '';
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: $color-gray-light;
        }

        &:not(:last-child) {
          border-right: none;
        }
      }
    }
  }

  // Form
  .adm-form {
    div.adm-list-body {
      overflow: unset;
      border: none;
    }

    .adm-form-item {
      --adm-color-border: #{$color-gray-shallow};

      & + .adm-form-item {
        margin-top: 24px;
      }

      .adm-list-item-content {
        padding: 0 16px;
        border: 1px solid $color-gray-shallow;
        border-radius: 16px;
      }
    }

    .adm-button-primary {
      border-radius: 16px;
      font-weight: 600;
    }
  }

  // Selector
  div.adm-selector {
    --border: 1px solid #e3e5e5;
    --border-radius: 24px;
    --checked-color: #{$color-light-primary};
    --checked-text-color: #{$color-primary};
    --color: #fff;
    --padding: 12px 24px;
    --text-color: #{$color-dark-deep};

    font-size: #{$font-size-sm};
    line-height: 18px;
  }

  // checklist
  // checked icon color
  div.adm-check-list-item-extra {
    color: #{$color-primary};
  }

  div.adm-list-item {
    padding-left: 0;

    // checklist item font
    .adm-list-item-content-main {
      // font-size: #{$font-size-sm};
      color: #{$color-dark-shallow};

      .adm-list-item-content {
        padding-right: 0;
      }
    }
  }

  // switch
  div.adm-switch {
    width: 42px;
    height: 24px;
    border-radius: 16px;

    --checked-color: #{$color-primary};
  }

  @mixin switch-base {
    width: 20px;
    height: 20px;
    border-radius: 16px;
  }

  div.adm-switch-checkbox {
    min-width: 42px;
    height: 24px;
    background: #{$color-light-primary};

    .adm-switch-handle {
      @include switch-base;

      box-shadow: none;
    }
  }

  div.adm-switch-checkbox::before {
    @include switch-base;

    background: #{$color-light-primary};
  }

  div.adm-switch.adm-switch-checked .adm-switch-handle {
    left: 20px;
  }

  // nav-bar
  div.adm-nav-bar {
    color: #fff;
  }
}
