@import 'variables';

// Button
:global {
  button.adm-button {
    --background-color: #{$color-light-primary};
    --text-color: #{$color-primary};

    &.adm-button-primary {
      --color: #{$color-primary};
    }
  }

  // CheckBox
  .adm-checkbox {
    --adm-color-primary: #{$color-primary};
    --icon-size: 24px;

    div.adm-checkbox-icon {
      border-radius: 5px;
    }
  }

  // passcode
  div.adm-passcode-input {
    --adm-color-primary: #{$color-primary};

    &:not(.seperated),
    &:not(.seperated).focused {
      border: none;
      box-shadow: none;

      div.adm-passcode-input-cell {
        &:empty::after {
          content: '';
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: $color-gray-light;
        }

        &:not(:last-child) {
          border-right: none;
        }
      }
    }
  }
}
