@import 'variables';

// Button
:global {
  button.adm-button {
    --background-color: #{$color-light-primary};
    --text-color: #{$color-primary};

    &.adm-button-primary {
      --color: #{$color-primary};
    }
  }

  // CheckBox
  .adm-checkbox {
    --adm-color-primary: #{$color-primary};
    --icon-size: 24px;

    div.adm-checkbox-icon {
      border-radius: 5px;
    }
  }
}
