$color-primary: #7f3dff;
$color-light-primary: #eee5ff;
$color-dark-deep: #0d0e0f;
$color-dark: #212325;
$color-dark-shallow: #292b2d;
$color-dark-pure: #000;
$color-gray: #91919f;
$color-gray-light: #e0e2e9;
$color-gray-shallow: #f1f1fa;
$color-red: #fd3c4a;
$color-green: #00a86b;
$color-blue: #07f;
$font-size-lg: 36px;
$font-size-mid: 18px;
$font-size-normal: 16px;
$font-size-sm: 14px;
$font-size-tiny: 12px;
