$color-primary: #7f3dff;
$color-light-primary: #eee5ff;
$color-dark: #212325;
$color-light-dark: #91919f;
$color-light-gray: #f1f1fa;
$font-size-lg: 36px;
$font-size-mid: 18px;
$font-size-normal: 16px;
$font-size-sm: 14px;
$font-size-tiny: 12px;
