@use '~@/style/variables.scss' as *;

:local {
  .wrapper {
    padding: 56px 16px;

    .policy {
      --font-size: #{$font-size-sm};

      color: #000;

      &-link {
        color: $color-primary;
        cursor: pointer;
      }

      :global(div.adm-list-item-content) {
        padding: 0;
        border: none;
      }
    }

    .tip {
      font-size: $font-size-normal;
      text-align: center;
      color: $color-gray;

      a {
        text-decoration: none;
        color: $color-primary;
      }
    }
  }
}
