@use '~@/style/variables.scss' as *;

:local {
  .wrapper {
    padding: 56px 16px;

    .policy {
      --font-size: #{$font-size-sm};

      color: #000;

      &-link {
        color: $color-primary;
        cursor: pointer;
      }

      :global(div.adm-list-item-content) {
        padding: 0;
        border: none;
      }
    }

    .tip {
      font-size: $font-size-normal;
      text-align: center;
      color: $color-light-dark;

      a {
        text-decoration: none;
        color: $color-primary;
      }
    }

    .password {
      .eye {
        display: inline-block;
        width: 22px;
        height: 15px;
      }

      :global(.adm-form-item-child-inner) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    :global {
      .adm-list-body {
        overflow: unset;
        border: none;
      }

      .adm-form-item {
        --adm-color-border: #{$color-light-gray};

        & + .adm-form-item {
          margin-top: 24px;
        }

        .adm-list-item-content {
          padding: 0 16px;
          border: 1px solid $color-light-gray;
          border-radius: 16px;
        }
      }

      .adm-button-primary {
        border-radius: 16px;
      }
    }
  }
}
