@use '@/style/variables.scss' as *;
@use '@/style/mixin.scss' as *;

:local {
  .amount {
    margin-bottom: 20px;
  }

  .budget-bottom {
    position: fixed;
    left: 0;
    bottom: 0;

    .card {
      padding: 16px;
      border-radius: 24px 24px 0 0;
    }

    .alert {
      @include flex-between;

      padding: 10px;

      .alert-des {
        max-width: 200px;
        line-height: 20px;

        .alert-title {
          display: block;
          color: $color-dark-shallow;
          font-size: $font-size-normal;
          font-weight: 600;
        }

        .alert-subdes {
          display: block;
          color: $color-gray;
          font-size: $font-size-tiny;
        }
      }
    }

    .budget-slider {
      --fill-color: #7f3dff;

      overflow: auto;
      margin-bottom: 30px;

      :global {
        .adm-slider-track,
        .adm-slider-fill {
          height: 12px;
          border-radius: 12px;
        }
      }

      .slide-icon {
        width: 54px;
        height: 30px;
        background-color: #7f3dff;
        line-height: 30px;
        border-radius: 30px;
        font-size: $font-size-sm;
        color: $color-white;
        text-align: center;
        box-shadow: 0 0 0 4px #fff;
      }
    }
  }
}
