@use '@/style/variables.scss' as *;

:local {
  .alert {
    color: #fcfcfc;
    font-size: $font-size-mid;
    font-weight: 600;
    margin-left: 26px;
  }

  .dollar {
    font-size: 64px;
    color: #fcfcfc;
  }

  .input {
    --font-size: 64px;
    --color: #fcfcfc;
  }

  .row {
    display: flex;
    flex-direction: row;
    height: 77px;
    line-height: 77px;
    padding: 13px 25px 16px;
  }
}
